MONGO_URL=mongodb:mongodb+srv://fabledharbinger:<db_password>@cluster0.5kgsh6r.mongodb.net/?appName=Cluster0
JWT_SECRET=So-this-one-time-i-rode-my-bike-down-a-hill-and-crashed-through-some-barbed-wire-into-a-horse-pasture
EMAIL=booking@ososdiscos.com
ADMIN_EMAIL=booking@ososdiscos.com
NEXT_PUBLIC_API_URL=http://ososdiscoscom-production.up.railway.app